@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil');

h1{
  display: block;
  margin: 0 auto;
  color: red;
  font-family: 'Monoton', cursive;
  font-size: 20px;
}



#responsive_headline{
  text-align: center;
}

#grid1{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: white;
  margin-top: 400px;
  display: block;
  margin: 0 auto 0 auto;
  color: white;
  margin-bottom: 150px;

}

#grid2{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: white;
  margin-top: 500px;
  text-align: center;
  display: block;
  margin: 0 auto 0 auto;
  color: white;
  margin-bottom: 500px;

}

#grid3{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: white;
  text-align: center;
  display: block;
  margin: 0 auto 0 auto;
  color: white;
  margin-top: 150px;
}



#page1{
  width: 100%;
  height: 200px;
  background-image: url("../Images/IMG_1483.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 150px;
  color: white;

}

#page2{
  width: 100%;
  height: 200px;
  background-image: url("../Images/IMG_5650.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 160px;
  margin-top: -75px;
}

#page3{
  width: 100%;
  height: 200px;
  background-image: url("../Images/IMG_5231.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 150px;
  margin-top: -95px;
}


#section3{
  display: block;
  margin: 0 auto;
}

#page1text{
  color: white;
  font-size: 40px;
  margin-top: 50px;
}

#page2text{
  color: black;
  font-size: 40px;
  margin-top: 50px;
}

#page3text{
  color: white;
  font-size: 50px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  margin-left: 80px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 600px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
