@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');

body{
Background-color: white;
}

h1{
color: #6B8E23;
}

h3{
background-color: rgb(255,0,0);
font-family: 'Major Mono Display', monospace;
}

a{
color: red;
text-decoration: none;
font-size: 24px;
}

a:hover{
background-color: purple;
}

.textlinks{
font-size: 16px;
}

#moreProjects{
color: orange;
}

#University{
color: orange;
}

#Miami{
color: green;
}

ul li{
list-style: initial;
}

h3 b{
color: pink;
}
